#root {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  position: relative;
}

#itemTitle {
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#homeImage {
  width: 100%;
  height: 300px;
  background: royalblue;
  text-align: center;
  color: white;
  font-size: 55px;
  font-weight: bolder;
  margin-bottom: 30px;
}

#orderPlaced {
  width: 100%;
  height: 100%;
  text-align: center;
  color: black;
  margin-bottom: 30px;
}

#main {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 120px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  background: rgba(0, 0, 0, 0.8);
  clear: both;
  text-align: center;
  line-height: 80px;
  color: white;
}
